packages.md
venv
.env
.pytest_cache
**__pyhache__/
db.sqlite3
.coverage
.vscode
calcalorie/**/__pycache__
food_calorie/**/__pycache__
calcalorie/settings/__pycache__
schema.yml
__pycache__
migrations



